.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    to right,
    #fd746c,
    #ff9068
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.logo {
  width: 10rem;
}
